<button mat-icon-button class="close-button" (click)="close()">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>Add new machine
</h2>
<div mat-dialog-content>
<mat-horizontal-stepper #stepper color="primary">
  <mat-step *ngFor='let step of steps'>
    <ng-template matStepLabel>{{step.title}}</ng-template>
    <app-step-wrapper [item]=step.component #stepsreference></app-step-wrapper>
  </mat-step>
</mat-horizontal-stepper>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="goBack()" type="button" [disabled]="stepper.selectedIndex === 0">Back</button>
  <button mat-button color="accent" (click)="goForward(stepper.selectedIndex)" type="button"
          [disabled]="stepper?.selectedIndex === stepper?._steps?.length-1">Next</button>
  <button mat-button color="accent" (click)="save()" type="button"
          [disabled]="stepper?.selectedIndex !== stepper?._steps?.length-1"
          *ngIf="stepper?.selectedIndex === stepper?._steps?.length-1">Save and Close</button>
</div>
